In [12]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

#DataFrame original 
baseDados = pd.read_csv('game_dataset.csv', delimiter=',')
baseDados.head(10)

,Nome do Jogo,Gênero,Plataforma,Classificação de Usuários,Vendas Globais,Lançamento no Brasil,Idade Recomendada,Preço
0,Jogo_0,Puzzle,Mobile,8.851442,3.981207,Não,18.0,141.044392
1,Jogo_1,Puzzle,PlayStation,9.576932,1.301234,Não,13.0,116.928495
2,Jogo_2,Esportes,Switch,2.716885,4.631714,Sim,5.0,71.739517
3,Jogo_3,Esportes,PlayStation,6.632025,7.078355,Não,9.0,39.968995
4,Jogo_4,Esportes,Mobile,NaN,8.952188,Não,5.0,48.985232
5,Jogo_5,Puzzle,Xbox,2.021186,6.656927,Sim,5.0,78.692806
6,Jogo_6,Puzzle,PlayStation,NaN,9.893130,Não,4.0,137.428449
7,Jogo_7,Ação,PC,3.635283,3.668605,Não,5.0,166.555950

Preenchimento de Elementos Faltantes: #não podemos analisar uma base de dados faltando elementos. Precisamos preencher usando media ou mediana. A mediana ordena o vetor e seleciona o elemento do meio daquele vetor.

In [13]:

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='median') 
baseDados["Idade Recomendada"] = imputer.fit_transform(baseDados["Idade Recomendada"].values.reshape(-1, 1)) #reschape transforma para o vetor

imputer = SimpleImputer(missing_values=np.nan, strategy='median')
baseDados["Classificação de Usuários"] = imputer.fit_transform(baseDados["Classificação de Usuários"].values.reshape(-1, 1)) #reschape transforma para o vetor

baseDados[["Idade Recomendada","Classificação de Usuários"]]

     Idade Recomendada  Classificação de Usuários
0                 18.0                   8.851442
1                 13.0                   9.576932
2                  5.0                   2.716885
3                  9.0                   6.632025
4                  5.0                   5.493528
..                 ...                        ...
995               11.0                   6.373151
996                6.0                   5.493528
997               15.0                   5.860813
998                9.0                   9.841189
999               16.0                   6.909613

[1000 rows x 2 columns]

Transformação de Variáveis Categóricas: #separa as colunas nos tipos de genero, plataforma e lançamento com os tipos preenchendo as colunas em 0 e 1. A linha 0 é quando não tem informação e a linha 1 tem informação

In [14]:

baseDados = pd.get_dummies(baseDados, columns=['Gênero', 'Plataforma', 'Lançamento no Brasil'], prefix=['Gênero', 'Plataforma', 'Lançamento no Brasil'])
baseDados.head(8)

,Nome do Jogo,Classificação de Usuários,Vendas Globais,Idade Recomendada,Preço,Gênero_Aventura,Gênero_Ação,Gênero_Esportes,Gênero_Puzzle,Gênero_RPG,Plataforma_Mobile,Plataforma_PC,Plataforma_PlayStation,Plataforma_Switch,Plataforma_Xbox,Lançamento no Brasil_Não,Lançamento no Brasil_Sim
0,Jogo_0,8.851442,3.981207,18.0,141.044392,0,0,0,1,0,1,0,0,0,0,1,0
1,Jogo_1,9.576932,1.301234,13.0,116.928495,0,0,0,1,0,0,0,1,0,0,1,0
2,Jogo_2,2.716885,4.631714,5.0,71.739517,0,0,1,0,0,0,0,0,1,0,0,1
3,Jogo_3,6.632025,7.078355,9.0,39.968995,0,0,1,0,0,0,0,1,0,0,1,0
4,Jogo_4,5.493528,8.952188,5.0,48.985232,0,0,1,0,0,1,0,0,0,0,1,0
5,Jogo_5,2.021186,6.656927,5.0,78.692806,0,0,0,1,0,0,0,0,0,1,0,1
6,Jogo_6,5.493528,9.893130,4.0,137.428449,0,0,0,1,0,0,0,1,0,0,1,0
7,Jogo_7,3.635283,3.668605,5.0,166.555950,0,1,0,0,0,0,1,0,0,0,1,0

Normalização de Dados: #estabelecer um intervalo entre 0 e 1 para as colunas Preco nao ter tanto peso sobre a coluna Vendas Globais no momento da analise

In [15]:
scaler = MinMaxScaler() #transforma as caracteristicas (colunas) na base para ter um intervalo especifico de valores entre 0 e 1  
baseDados[['Vendas Globais','Preço']] = scaler.fit_transform(baseDados[['Vendas Globais','Preço']])

baseDados[["Vendas Globais","Preço"]]


#baseDados.head()

     Vendas Globais     Preço
0          0.390811  0.654671
1          0.119464  0.512551
2          0.456674  0.246245
3          0.704396  0.059015
4          0.894121  0.112150
..              ...       ...
995        0.095439  0.655199
996        0.776547  0.055436
997        0.885044  0.354882
998        0.997617  0.702081
999        0.566022  0.744227

[1000 rows x 2 columns]